<html>
  <head>
      {% include '/includes/head.html.twig' %}
  </head>
  <body>
    <div class="container">
      <h1>{{ category.getName }}</h1>
      {% if tasks is not empty %}
          <p>Here are the tasks:</p>
          <ul>
              {% for task in tasks %}
                  <li>{{ task.getDescription }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <form action='/tasks' method='post'>
          <input id="category_id" name="category_id" type="hidden" value="{{ category.getId() }}">
          <label for='description'>Task Description</label>
          <input id='description' name='description' type='text'>
          <br>
          <label for='date'>Due Date</label>
          <input id='date' name='date' type='datetime-local'>
          <br>
          <br>
          <button class= 'btn btn-primary' type='submit'>Add task</button>
      </form>

      <p><a href='/'>Home</a></p>
    </div>
  </body>
</html>
